// Here you can add other styles

$sidebarBg: #000000;
$bgMain: #171717;
$white: #ffffff;
$textSelected: #ec6ead;
$sidebarHover: #472134;
$tagSrc: #ec6ead;
$textGray: #878787;

.sidebar,
.sidebar-fixed {
  background: $bgMain !important;
}

.headerFilterIcon {
  background: $textSelected;
  padding: 12px;
  border-radius: 10px;
  width: 43px;
}

.simplebar-content > .nav-item,
.simplebar-content > .nav-item > a {
  background: $sidebarBg !important;
  transition: 0.5s;
  border-radius: 10px;
  margin-top: 10px;

  &:hover {
    background: $sidebarHover !important;
    color: $textSelected !important;
  }
}

.sidebar-nav .nav-link.active {
  background: $sidebarHover !important;
  color: $textSelected !important;
}

.sidebar-nav .nav-link .nav-icon {
  color: inherit !important;
  transition: 0.1s;
}

.simplebar-content {
  margin-left: 21px;
  margin-right: 21px;
}

.simplebar-content > .nav-item:last-of-type {
  margin-top: 20%;
  margin-bottom: 10%;
}

.bgSider {
  background-color: $sidebarBg !important;
}

.header.header-sticky {
  border-bottom: 0 !important;
}

body,
html,
.header,
.wrapper {
  background: $bgMain !important;
  color: $white !important;
}

.header-nav .show > .nav-link,
.header-nav .nav-link.active {
  color: $textSelected !important;
}

.header-nav .nav-link {
  color: $white !important;
}

.header-nav .nav-link:hover {
  color: $textSelected !important;
}

.header-toggler,
.icon {
  color: $white !important;
}

.icon:hover {
  color: $textSelected !important;
}

.header-nav .nav-link:hover,
.header-nav .nav-link:focus {
  color: $white;
}

.card {
  background: $bgMain !important;
}

.srcTag {
  background: $tagSrc;
  color: $white;
  padding: 4px 8px;
  border-radius: 4px;
}

.cardTextGray {
  color: $textGray;
}

.cursorPointer {
  cursor: pointer;
}

.headlineCardImg {
  border-radius: 25px !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  max-height: 154px !important;
}

.headlineCardImgFeatured {
  border-radius: 25px !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  max-height: 230px !important;
}

.textSeeAll {
  color: $textSelected !important;
  text-decoration: none !important;
}

// category in home

.scrollmenu::-webkit-scrollbar {
  display: none;
}

div.scrollmenu {
  background-color: $bgMain;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu p {
  display: inline-block;
  color: $textSelected;
  text-align: center;
  border: 1px solid $textSelected;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 50px;
}

div.scrollmenu p:hover {
  color: $white;
  background-color: $textSelected;
}

div.scrollmenu {
  background-color: $bgMain;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu p.selected {
  display: inline-block;
  color: $white;
  text-align: center;
  background-color: $textSelected;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 50px;
}
