// Here you can add other styles

$sidebarBg: #000000;
$bgMain: #171717;
$white: #ffffff;
$textSelected: #ec6ead;
$sidebarHover: #472134;

.sidebar,
.sidebar-fixed {
  background: $bgMain !important;
}

.headerFilterIcon {
  background: $textSelected;
  padding: 10px;
  border-radius: 10px;
}

.simplebar-content > .nav-item,
.simplebar-content > .nav-item > a {
  background: $sidebarBg !important;
  transition: 0.5s;
  border-radius: 10px;
  margin-top: 10px;

  &:hover {
    background: $sidebarHover !important;
    color: $textSelected !important;
  }
}

.sidebar-nav .nav-link.active {
  background: $sidebarHover !important;
  color: $textSelected !important;
}

.sidebar-nav .nav-link .nav-icon {
  color: inherit !important;
  transition: 0.1s;
}

.simplebar-content {
  margin-left: 21px;
  margin-right: 21px;
}

.simplebar-content > .nav-item:last-of-type {
  margin-top: 20%;
  margin-bottom: 15%;
}

.bgSider {
  background-color: $sidebarBg !important;
}

.header.header-sticky {
  border-bottom: 0 !important;
}

body,
html,
.header,
.wrapper {
  background: $bgMain !important;
  color: $white !important;
}

.header-nav .show > .nav-link,
.header-nav .nav-link.active {
  color: $textSelected !important;
}

.header-nav .nav-link {
  color: $white !important;
}

.header-nav .nav-link:hover {
  color: $textSelected !important;
}

.header-toggler,
.icon {
  color: $white !important;
}

.icon:hover {
  color: $textSelected !important;
}

.header-nav .nav-link:hover,
.header-nav .nav-link:focus {
  color: $white;
}
